{{>html_header}}

<div id=content class="section">

  <div class="row center">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 data-admin-tooltip="title" class="header center orange-text">{{ l.title }}</h1>
        <div class="row left-align"><div id="user_andini_top" class="summernote"><div class="progress"><div class="indeterminate"></div></div></div></div>
        <h2 data-admin-tooltip="slogan" class="header center orange-text motto">{{ l.slogan }}</h2>
        {{ l.intro_up }}
        <div class="row center">
          <div style="margin-top:2em" class="row center">
            <img alt="{{ l.title }}" id="logoimg" width="50%" class="responsive-img" src="{{ cdn }}/img/logo-andini.webp">
          </div>
        </div>
        <div class="row left-align"><div id="user_andini_center" class="summernote"><div class="progress"><div class="indeterminate"></div></div></div></div>
        {{ l.intro_down }}
      </div>
    </div>
  </div>

</div>

<script nonce="{{ csp_nonce }}">
  (function ($) {
    if (GSC) {
      GSC.data.jello = '#logoimg';
      GSC.data.jelloEvent = null;

      // bigger logo on mobile
      if (GSC.touch) {
        $(GSC.data.jello).attr('width', '75%');  
      }

      // jello animation
      $(GSC.data.jello).click(function () {
        if (GSC.data.jelloEvent) clearTimeout(GSC.data.jelloEvent);
        $(this).removeClass('jello-horizontal').addClass('jello-horizontal');
        var that = this;
        GSC.data.jelloEvent = setTimeout(function () {
          $(that).removeClass('jello-horizontal');
        }, 1000);
      });

      // jello click()
      setTimeout(function () {
        setInterval(function () {
          $(GSC.data.jello).click();
        }, 10000);
        $(GSC.data.jello).click();
      }, 5000);

    }
  })($);
</script>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

      // track element under pointer
      d.addEventListener('mousemove', e => {
      w.GSC.elfp = document.elementFromPoint(e.clientX, e.clientY)
      }, {passive:true});

{{#admin_group_admin}}
      // prevent context menu
      w.oncontextmenu = function(e) {
        if (!w.GSC.touch) return true;
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        // hover the element under pointer on RMB or long-press
        if (w.GSC.elfp) {
          $(w.GSC.elfp).mouseover();
        }
        return false;
      };
{{/admin_group_admin}}
{{^admin_group_admin}}
      // prevent context menu
      w.oncontextmenu = function(e) {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        // click the element under pointer on RMB or long-press
        if (w.GSC.elfp) {
          if ($(w.GSC.elfp).data('tooltip')) {
            $(w.GSC.elfp).mouseover();
          } else {
            $(w.GSC.elfp).click();
          } 
        }
        return false;
      };
{{/admin_group_admin}}

      w.GSC.init.push(function () {
        w.GSC.names.push("imgref");
        $('.imgref').each(function(index) {
          $(this).tooltip({html: '<img src="' + $(this).data('imgref') + '">'});
        });
      });

    }
  })(window, document);
</script>

{{>html_footer}}
