<ul id="nav-mobile" class="sidenav {{ design.nav_color }} show-on-small">
  <li>
    <a class="sethlcs {{#langcs}}black{{/langcs}}" href="/cs">
      <i class="fas fa-language right"></i>
      <b style="color:#fff!important">{{ l.nav_czech }}</b></a>
  </li>
  <li>
    <a class="sethlen {{#langen}}black{{/langen}}" href="/en">
      <i class="fas fa-language right"></i>
      <b style="color:#fff!important">{{ l.nav_english }}</b></a>
  </li>
  {{#l.company_facebook}}
  <li>
    <a style="color:#fff!important" rel="noopener" href="https://facebook.com/{{ l.company_facebook }}">
      <i class="fab fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
  </li>
  {{/l.company_facebook}}
  {{#l.company_instagram}}
  <li>
    <a style="color:#fff!important" rel="noopener" href="https://instagram.com/{{ l.company_instagram }}">
      <i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</a>
  </li>
  {{/l.company_instagram}}
  <li>
    <a style="background-color:#fff!important;color:#000!important" rel="noopener" title="{{ l.nav_foodinc }}"
      href="https://foodincubator.cz/{{ lang }}{{ utm }}"><i class="fas fa-heart"></i>&nbsp;&nbsp;<b>{{ l.nav_foodinc }}</b></a>
  </li>
</ul>
