<footer class="page-footer {{ design.footer_color }}" style="font-family:Arial!important;font-size:1.2rem">
  <div class="container">
    {{>body_share}}
    <div class="row">

      {{#l.company}}
      <div class="col l6 m6 s12">
        <h5 class="white-text"><i class="material-icons">restaurant</i>&nbsp;&nbsp;<span data-admin-tooltip="company"></span>{{ l.company }}</h5>

        {{#l.provozovna_1}}
        <p class="grey-text text-lighten-4">
          <i class="material-icons">map</i>&nbsp;&nbsp;<span data-admin-tooltip="provozovna_1"></span>{{ l.provozovna_1 }}
          <br>
          <i class="material-icons">schedule</i>&nbsp;&nbsp;<span data-admin-tooltip="provozovna_1oh"></span>{{ l.provozovna_1oh }}
        </p>
        {{/l.provozovna_1}}

        {{#l.provozovna_3}}
        <p class="grey-text text-lighten-4">
          <i class="material-icons">map</i>&nbsp;&nbsp;<span data-admin-tooltip="provozovna_3"></span>{{ l.provozovna_3 }}
          <br>
          <i class="material-icons">schedule</i>&nbsp;&nbsp;<span data-admin-tooltip="provozovna_3oh"></span>{{ l.provozovna_3oh }}
        </p>
        {{/l.provozovna_3}}

        {{#l.provozovna_2}}
        <p class="grey-text text-lighten-4">
          <i class="material-icons">map</i>&nbsp;&nbsp;<span data-admin-tooltip="provozovna_2"></span>{{ l.provozovna_2 }}
          <br>
          <i class="material-icons">schedule</i>&nbsp;&nbsp;<span data-admin-tooltip="provozovna_2oh"></span>{{ l.provozovna_2oh }}
        </p>
        {{/l.provozovna_2}}

        {{#l.company_mobile}}
          <p class="grey-text text-lighten-4 bold">
          <a href="tel:{{ l.company_mobile }}">
            <i class="material-icons">phone_iphone</i>&nbsp;&nbsp;<span 
              data-admin-tooltip="company_mobile_formatted"></span><span
              style="border-bottom:2px solid">{{#l.company_mobile_formatted}}{{ l.company_mobile_formatted }}{{/l.company_mobile_formatted}}{{^l.company_mobile_formatted}}<span 
              data-admin-tooltip="company_mobile"></span>{{ l.company_mobile }}{{/l.company_mobile_formatted}}</span>
          </a>
          </p>
        {{/l.company_mobile}}
        
        {{#l.company_email}}
        <p class="grey-text text-lighten-4">
          <a class="btn-floating red pulse" href="mailto:{{ l.company_email }}">
            <i
              class="material-icons">email</i></a>&nbsp;&nbsp;<a
                data-admin-tooltip="company_email"
                style="color:#fff!important;border-bottom:2px solid #fff"
                href="mailto:{{ l.company_email }}">{{ l.company_email }}
          </a>
        </p>
        {{/l.company_email}}

        {{#l.company_facebook}}
        <p>
          <i class="fab fa-facebook"></i>&nbsp;&nbsp;<a
            data-admin-tooltip="company_facebook"
            class="white-a"
            href="https://facebook.com/{{ l.company_facebook }}">{{ l.company_facebook }}
          </a>
        </p>
        {{/l.company_facebook}}

        {{#l.company_instagram}}
        <p>
          <i class="fab fa-instagram"></i>&nbsp;&nbsp;<a
            data-admin-tooltip="company_instagram"
            class="white-a"
            href="https://instagram.com/{{ l.company_instagram }}">{{ l.company_instagram }}
          </a>
        </p>
        {{/l.company_instagram}}

      </div>
      {{/l.company}}

      {{#l.company}}
      <div class="col l6 m6 s12">
        <h5 class="white-text">
          <i class="material-icons">stars</i>&nbsp;&nbsp;<span
            data-admin-tooltip="company_owner"></span>{{ l.company_owner }}
        </h5>

        {{#l.company_regaddr}}
        <p class="grey-text text-lighten-4">
          <span data-admin-tooltip="company_regaddr"></span>{{ l.company_regaddr }}
        </p>
        {{/l.company_regaddr}}

        {{#l.company_reg}}
        <p class="grey-text text-lighten-4">
          <span data-admin-tooltip="company_reg"></span>{{ l.company_reg }}
        </p>
        {{/l.company_reg}}

        {{#l.company_id}}
        <p class="grey-text text-lighten-4">
          <span data-admin-tooltip="company_id"></span>{{ l.company_id }} &nbsp;&nbsp; <span data-admin-tooltip="company_vat"></span>{{ l.company_vat }}
        </p>
        {{/l.company_id}}

        <strong>
        {{#l.payment_cards}}
          <i class="material-icons">payment</i>&nbsp;&nbsp;<span data-admin-tooltip="payment_cards"></span>{{ l.payment_cards }}<br><br>
        {{/l.payment_cards}}
          <i class="material-icons">lightbulb_outline</i>&nbsp;&nbsp;<a
            target="_blank"
            class="white-a tooltipped imgref"
            data-admin-tooltip="alergen_list"
            data-imgref="{{ cdn }}/upload/.thumb_320px_alergen.webp"
            href="{{ cdn }}/upload/alergen.webp">{{ l.alergen_list }}
          </a>
          <br>
          <br>
        </strong>
      </div>
      {{/l.company}}
    </div>
    <div class="row">
      {{>google_map}}
    </div>
  </div>
  {{>gscloud_footer}}
</footer>
