<div class="navbar-fixed">
  <nav class="navbar">
    <div class="nav-wrapper {{ design.nav_color }}" role="navigation">
      <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <a id="logo-container" class="brand-logo truncate center"
        href="/{{#langcs}}cs{{/langcs}}{{#langen}}en{{/langen}}">{{ l.title_short }}</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="{{#langcs}}{{ design.nav_color }} darken-4{{/langcs}} text-lighten-4"
            {{#langcs}}style="cursor:default!important" {{/langcs}} {{^langcs}}href="/cs" {{/langcs}}><b>{{ l.nav_czech }}</b></a>
        </li>
        <li>
          <a class="{{#langen}}{{ design.nav_color }} darken-4{{/langen}} text-lighten-4"
            {{#langen}}style="cursor:default!important" {{/langen}} {{^langen}}href="/en" {{/langen}}><b>{{ l.nav_english }}</b></a>
        </li>
        <li>
          <a class="white" style="color:red!important" rel="noopener" title="{{ l.nav_foodinc }}"
            href="https://foodincubator.cz/{{ lang }}{{ utm }}">
            <i class="fa-solid fa-link"></i>
            <b>{{ l.nav_foodinc }}</b></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
