<!doctype html>
<html class="no-js" lang="{{ lang }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{#LOCALHOST}}LOCAL: {{/LOCALHOST}}{{ l.title }}</title>
<script nonce="{{ csp_nonce }}">
'use strict';
// tweaks
if(window.location!=window.top.location)window.top.location.replace(window.location);
!(function(a){function e(){}for(var b="assert clear count debug dir dirxml error exception group groupCollapsed groupEnd info log markTimeline profile profileEnd table time timeEnd timeline timelineEnd timeStamp trace warn".split(" "),c=b.length,d=a.console=a.console||{};c--;)a=b[c],d[a]||(d[a]=e)})(window);
{{^admin_group_admin}}
// passive listeners
!function(e){function t(n){if(o[n])return o[n].exports;var r=o[n]={i:n,l:!1,exports:{}};return e[n].call(r.exports,r,r.exports,t),r.l=!0,r.exports}var o={};t.m=e,t.c=o,t.d=function(e,o,n){t.o(e,o)||Object.defineProperty(e,o,{configurable:!1,enumerable:!0,get:n})},t.n=function(e){var o=e&&e.__esModule?function(){return e.default}:function(){return e};return t.d(o,"a",o),o},t.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},t.p="",t(t.s=0)}([function(e,t,o){"use strict";var n="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(e){return typeof e}:function(e){return e&&"function"==typeof Symbol&&e.constructor===Symbol&&e!==Symbol.prototype?"symbol":typeof e},r=o(1),u={passive:!0,capture:!1},i=["scroll","wheel","touchstart","touchmove","touchenter","touchend","touchleave","mouseout","mouseleave","mouseup","mousedown","mousemove","mouseenter","mousewheel","mouseover"],s=function(e,t){return void 0!==e?e:-1!==i.indexOf(t)&&u.passive},c=function(e){var t=Object.getOwnPropertyDescriptor(e,"passive");return t&&!0!==t.writable&&void 0===t.set?Object.assign({},e):e};if((0,r.eventListenerOptionsSupported)()){var p=EventTarget.prototype.addEventListener;!function(e){EventTarget.prototype.addEventListener=function(t,o,r){var i="object"===(void 0===r?"undefined":n(r))&&null!==r,p=i?r.capture:r;r=i?c(r):{},r.passive=s(r.passive,t),r.capture=void 0===p?u.capture:p,e.call(this,t,o,r)},EventTarget.prototype.addEventListener._original=e}(p)}},function(e,t,o){"use strict";Object.defineProperty(t,"__esModule",{value:!0});t.eventListenerOptionsSupported=function(){var e=!1;try{var t=Object.defineProperty({},"passive",{get:function(){e=!0}});window.addEventListener("test",null,t),window.removeEventListener("test",null,t)}catch(e){}return e}}]);
{{/admin_group_admin}}
</script>
{{>head_pre}}
<link rel="dns-prefetch" href="//cdn.gscloud.cz">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link rel="dns-prefetch" href="//umami.gscloud.cz">
<link rel="dns-prefetch" href="//www.google.com">
<link rel="preconnect" href="//cdn.gscloud.cz">
<link rel="preconnect" href="//cdnjs.cloudflare.com">
<link rel="preconnect" href="//fonts.googleapis.com">
<link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="//umami.gscloud.cz">
<link rel="preconnect" href="//www.google.com">
{{#host}}{{#base}}<base href="{{ base }}">{{/base}}{{/host}}
{{#canonical_url}}<link rel="canonical" href="{{ canonical_url }}{{ request_path }}">{{/canonical_url}}
<link rel="manifest" href="/manifest.json?lang={{ lang }}">
{{>head_meta}}
{{>head_favicons}}
{{>head_umami}}
{{>head_custom}}
<style>
/* Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('materialicons-regular'),
       url(https://cdn.gscloud.cz/webfonts/materialicons-regular.woff2) format('woff2'),
       url(https://cdn.gscloud.cz/webfonts/materialicons-regular.woff) format('woff'),
       url(https://cdn.gscloud.cz/webfonts/materialicons-regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
/* reset */
html{min-width:320px!important;line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
/* helpers */
a[x-apple-data-detectors]{color:inherit!important;text-decoration:none!important;font-size:inherit!important;font-family:inherit!important;font-weight:inherit!important}
/* update */
#update-message{display:none;width:100%;padding:5px;font-size:1em;position:fixed;top:0;right:0;z-index:9999;font-family:Arial!important}
/* offline */
#offline-message{opacity:0;visibility:hidden;padding:10px;position:fixed;bottom:10px;left:0;font-size:1em;transition:0.5s;font-family:Arial!important;font-size:2em}
[offline="true"] #offline-message{visibility:visible;opacity:1;z-index:9999999}
/* progress */
.progress-container{width:100%;height:8px;background:#ccc;position:fixed;bottom:0;z-index:9999999}.progress-bar{height:8px;background: #4caf50;width:0%}
/* summernote */
.summernote:empty{display:none}.footer-copyright a{font-weight:bold}
/* noscript */
.noscript{font-size:1.5rem!important;padding:1rem!important}
</style>
{{>head_post}}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.gscloud.cz/materialize/v1.2.2/css/materialize.min.css">
<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/tesseract/js/jquery.min.js"></script>
</head>
<body id="body">
<noscript style="text-align:center;position:fixed;bottom:0;z-index:999999;width:100%;display:block;">{{>noscript}}</noscript>
{{>body_pre}}
<!-- update -->
<div class="black-text white" tabindex="-1" style="text-align:center;font-weight:bold" id="update-message">{{ l.page_outdated }}
  <br><a id="update-button" rel="noopener nofollow noreferrer" class="waves-effect blue waves-light btn">{{ l.page_outdated_button }}</a>
</div>
<!-- offline -->
<div aria-hidden="true" tabindex="-1" id="offline-message">📵</div>
<script nonce="{{ csp_nonce }}">
// GSC init
!(function(c,e){a=c.GSC||{};a.init=[];a.names=[];a.AutoInit=function(){for(var a=window.GSC.init,c=window.GSC.names,b=0,d=a.length;b<d;b++)try{a[b](),console.log("fn #"+(b+1)+": "+c[b])}catch(f){}};a.LASAGNA={};a.LASAGNA.core={};a.LASAGNA.core.version="{{ VERSION }}";a.LASAGNA.core.cdn="{{ CDN }}";a.LASAGNA.core.timestamp=~~(Date.now()/1E3);a.LASAGNA.data={};a.LASAGNA.data.version="{{ DATA_VERSION }}";a.LASAGNA.data.timestamp=a.LASAGNA.core.timestamp;c.GSC=a;})(window);
</script>
{{>gscloud_functions}}
{{>body_resources}}

<style type="text/css">
  body {
    min-width: 1280px;
  }

  #print_wrapper {
    padding-top: 5rem;
  }

  .nowrap {
    white-space: nowrap!important;
  }

  .marks td, .marks tr {
    display: none;
  }

  .hover {
    cursor: pointer!important;
  }

  tr {
    border: 0 !important;
  }

  .tab2 {
    border: 1px solid #ccc !important;
  }

  .bold {
    font-weight: bold;
  }

  .admin {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .tpl {
    display: none;
  }

  .tab1 {
    width: 100%;
    table-layout: fixed;
  }

  .tab2 td {
    width: 100%;
    height: 20vh;
    table-layout: fixed;
  }

  .tab_data {
    vertical-align: text-top;
    padding-top: 1rem;
  }

  .tab_top {
    display: none;
    font-family: 'Roboto', sans-serif;
  }

  .title {
    width: 99%;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    /* !!! */
    display: none;
  }

  .title_en {
    width: 99%;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

  .alg {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 0;
  }

  .tag {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    float: left;
    height: 20%;
    padding-top: 1rem;
    padding-left: 0.3rem;
  }

  .price {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-weight: bold;
    padding-right: 0.5rem;
    /* !!! */
    visibility: hidden;
  }

  .czk {
    font-size: 2.5rem;
  }

  .btop {
    vertical-align: bottom;
    height: 70%;
  }

  .bbtm {
    vertical-align: bottom;
    height: 70%;
  }

  .maso {
    color: #800!important;
  }

  .vegan {
    color: #080;
  }

  .vegetarian {
    color: #00a;
  }

  .milk {
    color: #44f;
  }

  .st {
    color: black !important;
  }

  .selected {
    background-color: #ccc;
  }
</style>

<style type="text/css" media="print">
  @page {
    size: portrait;
  }

  body {
    min-width: 0;
  }

  .marks td, .marks tr {
    display: table-cell;
    padding: 0!important;
    margin: 0!important;
    font-size: 5px!important;;
    line-height: 0px!important;
    position: relative;
    left: -5px;
  }

  #print_wrapper {
    padding-top: 0!important;
  }

  tr {
    border: 0 !important;
  }

  .tab1 td {
    margin: 0!important;
    padding: 5px!important;
  }

  .tab2 {
    border: 0!important;
  }

  td .tab_top {
  }

  #print-wrapper * {
    visibility: visible;
  }

  .admin {
    display: none;
  }

  .tab_top {
    display: table-cell;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .tab1 {
    width: 100%;
    height: 90vh;
    table-layout: fixed;
  }

  .tab2 td {
    width: 100%;
    height: 20vh;
    table-layout: fixed;
  }

  section {
    width: 98vw;
    height: 90vh;
    page-break-after: always;
  }

  .alg {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
  }

  .tag {
    float: left;
    font-size: 2rem;
    height: 30%;
  }

  .price {
    font-size: 2.5rem;
    text-align: right;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    /* !!! */
}

  .czk {
    font-size: 2rem;
  }

  .btop {
    vertical-align: top;
    height: 70%;
  }

  .bbtm {
    vertical-align: bottom;
    height: 70%;
  }

  .selected {
    background-color: #fff!important;
  }
</style>

<div class="admin center-align" style="width:100%!important;position:fixed!important;background-color:#fff!important;">
  <div class="row">
    <div class="valign-wrapper">
      <br>
      <a
        id="reload"
        style="margin:5px;"
        class="waves-effect green waves-light btn bold"
        >API RELOAD</a>
      <a
        id="select_all"
        style="margin:5px;"
        class="waves-effect blue waves-light btn bold"
        >◼ VYBRAT VŠE</a>
      <a
        id="clear_selection"
        style="margin:5px;"
        class="waves-effect blue waves-light btn bold"
        >✖ ZRUŠIT VÝBĚR</a>
      <a
        id="fixtabsup"
        style="font-size:1.5rem"
        class="white bold hover"
        >⬆️</a>
        <a
          id="fixtabsdown"
          style="font-size:1.5rem"
          class="white bold hover"
          >⬇️</a>
      <a
        id="autofix"
        style="margin:5px;"
        class="waves-effect grey waves-light btn bold"
        >☯ FIXER</a>
      <a
        id="load"
        style="margin:5px;"
        class="waves-effect green waves-light btn bold"
        >💾 LOAD</a>
        <a
          id="save"
          style="margin:5px;"
          class="waves-effect red waves-light btn bold"
          >💾 SAVE</a>
      <hr>
      <a
        style="margin:5px;"
        class="waves-effect teal waves-light btn bold"
        href="//andini.gscloud.cz/"
        >ADMIN ↗</a>
      <a
        id="print"
        style="margin:5px;"
        class="waves-effect orange waves-light btn bold"
        >🖨️ TISK</a>
      &nbsp;&nbsp;<span class="black white-text" style="font-size:1.5rem">&nbsp;<span id="selected" class="bold"></span>&nbsp;/&nbsp;<span id="counter" class="bold"></span>&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</div>

<section class="tpl">
  <table class="tab1">
  <tr class="marks"><td>+</td><td>+</td><td style="border-right:1px solid black!important">+</td></tr>
  <tr>
    <td>
      <table class="tab2">
        <tr>
          <td class="tab_top c1"></td>
        </tr>
        <tr>
          <td class="tab_data c1 hover">
            <div class="btop">
              <div class="title">cs</div>
              <div class="title_en">en</div>
              <div class="alg">1,2,3,4,5</div>
            </div>
            <div class="bbtm">
              <div class="tag">🥩 🌽 🥚</div>
              <div class="price">50 Kč</div>
            </div>
          </td>
      </table>
    </td>
    <td>
      <table class="tab2">
        <tr>
          <td class="tab_top c2"></td>
        </tr>
        <tr>
          <td class="tab_data c2 hover">
            <div class="btop">
              <div class="title">cs</div>
              <div class="title_en">en</div>
              <div class="alg">1,2,3,4,5</div>
            </div>
            <div class="bbtm">
              <div class="tag">🥩 🌽 🥚</div>
              <div class="price">50 Kč</div>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table class="tab2">
        <tr>
          <td class="tab_top c3"></td>
        </tr>
        <tr>
          <td class="tab_data c3 hover">
            <div class="btop">
              <div class="title">cs</div>
              <div class="title_en">en</div>
              <div class="alg">1,2,3,4,5</div>
            </div>
            <div class="bbtm">
              <div class="tag">🥩 🌽 🥚</div>
              <div class="price">50 Kč</div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="marks"><td>+</td><td>+</td><td style="border-right:1px solid black!important">+</td></tr>
  <tr>
    <td>
      <table class="tab2">
        <tr>
          <td class="tab_top c4"></td>
        </tr>
        <tr>
          <td class="tab_data c4 hover">
            <div class="btop">
              <div class="title">cs</div>
              <div class="title_en">en</div>
              <div class="alg">1,2,3,4,5</div>
            </div>
            <div class="bbtm">
              <div class="tag">🥩 🌽 🥚</div>
              <div class="price">50 Kč</div>
            </div>
          </td>
      </table>
    </td>
    <td>
      <table class="tab2">
        <tr>
          <td class="tab_top c5"></td>
        </tr>
        <tr>
          <td class="tab_data c5 hover">
            <div class="btop">
              <div class="title">cs</div>
              <div class="title_en">en</div>
              <div class="alg">1,2,3,4,5</div>
            </div>
            <div class="bbtm">
              <div class="tag">🥩 🌽 🥚</div>
              <div class="price">50 Kč</div>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table class="tab2">
        <tr>
          <td class="tab_top c6"></td>
        </tr>
        <tr>
          <td class="tab_data c6 hover">
            <div class="btop">
              <div class="title">cs</div>
              <div class="title_en">en</div>
              <div class="alg">1,2,3,4,5</div>
            </div>
            <div class="bbtm">
              <div class="tag">🥩 🌽 🥚</div>
              <div class="price">50 Kč</div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="marks"><td>+</td><td>+</td><td style="border-right:1px solid black!important">+</td></tr>
  </table>
</section>

<div id="print_wrapper">
</div>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {

    if (w.GSC.init) {

      // delayed init *** start
      w.GSC.init.push(function () {
        w.GSC.names.push("CEDULKY - init");

        // load price tags data
        $.get("/api/v1/GetPriceTags?" + Date.now(), function (data) {
          if (data && data.data && data.data.length) {
            localStorage["data"] = JSON.stringify(data.data);
            w.GSC.fontsize = [];
            w.GSC.selected = [];
            w.GSC.generate();
          }
        });

        // update counter
        function updateCounter() {
          c = 0;
          let data = JSON.parse(localStorage["data"]);
          for (var i = 0; i < data.length; i++) {
            if (w.GSC.selected[data[i].id] === true) {
              c++;
            }
          }
          $('#selected').text(c);
          $('#counter').text(data.length);
        }

        // generate tabs
        w.GSC.generate = function(param) {
          let data = JSON.parse(localStorage["data"]);
          if (!data.length) return false;
          updateCounter();
          
          // preparation
          $('.tpl .alg').text('');
          $('.tpl .price').text('');
          $('.tpl .tag').text('');
          $('.tpl .title').text('');
          $('.tpl .title_en').text('');
          $('#print_wrapper').html('');

          let count = data.length;
          var tabs = Math.ceil(data.length / 6);
          if (param == "selected") {
            var tabs = Math.ceil(parseInt($('#selected').text()) / 6);
          }

          for (var i = 0; i < tabs; i++) {
            var j = i + 1;
            $('.tpl').clone().removeClass('tpl').addClass('export').appendTo("#print_wrapper").addClass('tpl' + j);
          }

          var c = 1;
          var t = 1;
          for (var i = 0; i < data.length; i++) {
            if (param == "selected") { // skip tabs
              if (!w.GSC.selected[data[i].id]) continue;
            }

            var id = data[i].id;
            $('section.export.tpl' + t + ' .c' + c).data('id', data[i].id).addClass(id);
            $('section.export.tpl' + t + ' .c' + c + ' .title').html(data[i].title);
            $('section.export.tpl' + t + ' .c' + c + ' .title_en').html(data[i].title_en);

            // fix font size
            if (w.GSC.fontsize[id]) {
              $('.' + id + '>.btop>.title').css('font-size', w.GSC.fontsize[id]);
              $('.' + id + '>.btop>.title_en').css('font-size', w.GSC.fontsize[id]);
            }

            // tab click evet
            $('section.export.tpl' + t + ' .c' + c).click(function () {
              let id = $(this).data('id');
              if (w.GSC.selected[id]) {
                delete w.GSC.selected[id];
              } else {
                w.GSC.selected[id] = true;
              }
              $('.' + id).toggleClass('selected');
              updateCounter();
            });

            if (data[i].tags_text.indexOf('MA') != -1) {
              $('section.export.tpl' + t + ' .c' + c + ' .title').addClass('maso');
              $('section.export.tpl' + t + ' .c' + c + ' .title_en').addClass('maso');
              $('section.export.tpl' + t + ' .c' + c + ' .price').addClass('maso');
            }
            if (data[i].tags_text.indexOf('VG') != -1) {
              $('section.export.tpl' + t + ' .c' + c + ' .title').addClass('vegan');
              $('section.export.tpl' + t + ' .c' + c + ' .title_en').addClass('vegan');
              $('section.export.tpl' + t + ' .c' + c + ' .price').addClass('vegan');
            }
            if (data[i].tags_text.indexOf('VE') != -1) {
              $('section.export.tpl' + t + ' .c' + c + ' .title').addClass('vegetarian');
              $('section.export.tpl' + t + ' .c' + c + ' .title_en').addClass('vegetarian');
              $('section.export.tpl' + t + ' .c' + c + ' .price').addClass('vegetarian');
            }
            if (data[i].tags_text.indexOf('DF') != -1) {
              $('section.export.tpl' + t + ' .c' + c + ' .title').addClass('milk');
              $('section.export.tpl' + t + ' .c' + c + ' .title_en').addClass('milk');
              $('section.export.tpl' + t + ' .c' + c + ' .price').addClass('milk');
            }
            if (data[i].tags_text.indexOf('ST') != -1) {
              $('section.export.tpl' + t + ' .c' + c + ' .title').addClass('st');
              $('section.export.tpl' + t + ' .c' + c + ' .title_en').addClass('st');
              $('section.export.tpl' + t + ' .c' + c + ' .price').addClass('st');
            }

            if (data[i].allergens) {
              $('.tab_data.' + data[i].id + ' .alg').html('(' + data[i].allergens + ')');
            }
            $('.tab_top.' + data[i].id).html(data[i].producer);
            $('.tab_data.' + data[i].id + ' .tag').html(data[i].tags);
            $('section.export.tpl' + t + ' .c' + c + ' .price').html(data[i].price + '&nbsp;<span class="czk">Kč</span>');

            c++;
            if (c > 6) {
              c = 1;
              t++;
            }
          }
        }

        // reload UI
        $("#reload").click(function () {
          localStorage["data"] = "";
          location.reload();
        });

        // font size autofix
        $("#autofix").click(function () {
          let data = JSON.parse(localStorage["data"]);
          var min, max = null;

          $('#print_wrapper').css('width', '600');

          for (var i = 0; i < data.length; i++) {
            $('.' + id).css('border', '');
            var id = data[i].id;
            var h = $('.' + id + '>.btop').outerHeight();
            if (h < min || !min) {
              min = h;
            } else if (h > max || !max) {
              max = h;
            }
          }

          var average = Math.round((min + max) / 2);
          if (w.GSC.average) {
            average = w.GSC.average;
          } else {            
            w.GSC.average = average;
          }

          var c = 0;
          for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            var h = $('.' + id + '>.btop').outerHeight();
            if (h > (average + 10)) {
              $('.' + id).css('border', '2px solid red');
              $('.' + id + '>.btop>.title').css('font-size', "-=1");
              $('.' + id + '>.btop>.title_en').css('font-size', "-=1");
              w.GSC.fontsize[id] = $('.' + id + '>.btop>.title').css('font-size');
              c++;
            }
          }

          $('#print_wrapper').css('width', '');
          M.toast({text: "FIXER opravil cenovky: " + c + "x"});
        });

        // set bigger font size
        $("#fixtabsup").click(function () {
          let data = JSON.parse(localStorage["data"]);
          var c = 0;
          for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            if (w.GSC.selected[id]) {
              c++;
              $('.' + id + '>.btop>.title').css('font-size', "+=0.5");
              $('.' + id + '>.btop>.title_en').css('font-size', "+=0.5");
              w.GSC.fontsize[id] = $('.' + id + '>.btop>.title').css('font-size');
            }
          }
          if (!c) M.toast({text: "Změna velikosti fontu je určena pouze pro vybrané cenovky!"});
        });

        // set smaller font size
        $("#fixtabsdown").click(function () {
          let data = JSON.parse(localStorage["data"]);
          var c = 0;
          for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            if (w.GSC.selected[id]) {
              c++;
              $('.' + id + '>.btop>.title').css('font-size', "-=0.5");
              $('.' + id + '>.btop>.title_en').css('font-size', "-=0.5");
              w.GSC.fontsize[id] = $('.' + id + '>.btop>.title').css('font-size');
            }
          }
          if (!c) M.toast({text: "Změna velikosti fontu je určena pouze pro vybrané cenovky!"});
        });

        // select all tabs
        $("#select_all").click(function () {
          let data = JSON.parse(localStorage["data"]);
          for (var i = 0; i < data.length; i++) {
            w.GSC.selected[data[i].id] = true;
            $('.' + data[i].id).addClass("selected");
          }
          updateCounter();
        });

        // save fontsizes
        $("#save").click(function () {
          let data = JSON.parse(localStorage["data"]);
          var c = 0;
          for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            if (w.GSC.fontsize[id]) {
              localStorage["fontsize" + '_' + id] = w.GSC.fontsize[id];
              c++;
            } else {
              delete localStorage["fontsize" + '_' + id];
            }
          }
          M.toast({text: "Uloženo: " + c});
        });

        // load fontsizes
        $("#load").click(function () {
          let data = JSON.parse(localStorage["data"]);
          var c = 0;
          for (var i = 0; i < data.length; i++) {
            var id = data[i].id;
            if (localStorage["fontsize" + '_' + id]) {
              var s = w.GSC.fontsize[id] = localStorage["fontsize" + '_' + id];
              $('.' + id + '>.btop>.title').css('font-size', s);
              $('.' + id + '>.btop>.title_en').css('font-size', s);
              c++;
            }
          }
          M.toast({text: "Načteno: " + c});
        });

        // deselect all tabs
        $("#clear_selection").click(function () {
          w.GSC.selected = [];
          $('.selected').removeClass('selected');
          updateCounter();
        });

        // print
        $("#print").click(function () {
          window.print();
        });

        // before print event
        window.onbeforeprint = (event) => {
          // select all tabs if none selected
          $('#print_wrapper').css('width', '');
          if (parseInt($('#selected').text()) == 0) {
            let data = JSON.parse(localStorage["data"]);
            for (var i = 0; i < data.length; i++) {
              w.GSC.selected[data[i].id] = true;
            }
          }
          w.GSC.generate("selected");
        };

        // after print event
        window.onafterprint = (event) => {
          w.GSC.generate();
          let data = JSON.parse(localStorage["data"]);
          for (var i = 0; i < data.length; i++) {
            if (w.GSC.selected[data[i].id] === true) {
              $('.' + data[i].id).addClass("selected");
            };
          }
          updateCounter();
          if (parseInt($('#selected').text()) === parseInt($('#counter').text())) {
            w.GSC.selected = [];
            $('.selected').removeClass('selected');
            updateCounter();
          }
        };

      }); // delayed init *** end
    }
  })(window, document);

</script>
</body>
</html>